$hero-size: 200px;
$box-margin: 5px;
$layout-breakpoint: 1000px;

@font-face {
	font-family: "komika";
	src: url("../resources/KMKDSPK_.ttf");
}

%background-styles {
	background-size: contain;
	background-repeat: no-repeat;
}

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
}

body {
	@extend %background-styles;

	background-attachment: fixed;
	background-position: center bottom;
	background-size: cover;

	padding: 10px;
}

body, button, input {
	font-size: 1.2em;
	font-family: komika;
	text-shadow:
		 2px  2px white,
		 2px -2px white,
		-2px  2px white,
		-2px -2px white,
	;
}

button {
	padding-left: 10px;
	padding-right: 10px;
}

.controls {
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width: 500px;
}

.hero-count-wrapper > label {
	margin: 0 5px;
}

.page {
	display: grid;
	grid-template-areas:
		"heroes vs villain"
		"env env env"
	;
	grid-template-columns: 1fr auto 1fr;

	@media (max-width: $layout-breakpoint) {
		grid-template-areas:
			"heroes"
			"vs"
			"villain"
			"env"
		;
		grid-template-columns: 1fr;
	}
}

.panel {
	@extend %background-styles;

	&.panel__heroes {
		// Add padding so we show at most 3 heroes per row
		$side-padding: calc((100% - ( 3 * #{$hero-size}) - (6 * #{$box-margin}) )/2);

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 $side-padding;

		.box {
			max-height: 40vw;
			max-width: 40vw;
		}
	}

	&.panel__villain {
		display: flex;
		justify-content: center;

		.box {
			$size: 400px;

			background-size: $size $size;
			background-position: top right;
			height: $size;
			width: $size;
			max-height: 90vw;
			max-width: 90vw;
			text-align: center;

			// Want to flip just the background image, so flip the whole thing and then flip children back
			transform: scaleX(-100%);

			& * {
				display: block;
				transform: scaleX(-100%);
			}
		}
	}

	&.panel__environment {
		display: flex;
		justify-content: center;
		font-size: 3em;
		text-align: center;

		@media (max-width: $layout-breakpoint) {
			bottom: 10px;
			font-size: 1.5em;
			left: 50%;
			position: fixed;
			transform: translateX(-50%);
			width: 100%;
		}
	}

	&.panel__heroes { grid-area: heroes; }
	&.panel__villain { grid-area: villain; }
	&.panel__environment { grid-area: env; }
}

.vs {
	grid-area: "vs";
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
}

.box {
	background-size: contain;
	border: 5px solid black;
	margin: $box-margin;
	display: block;
	height: $hero-size;
	width: $hero-size;

	text-align: center;
}
