@font-face {
  font-family: "komika";
  src: url("../resources/KMKDSPK_.ttf"); }
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box; }

body {
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 40px; }

body, button, input {
  font-size: 1.2em;
  font-family: komika;
  text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
  color: #333; }

.background {
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1; }

button {
  padding-left: 10px;
  padding-right: 10px; }

.controls {
  display: flex;
  justify-content: space-around;
  margin: 10px; }

.hero-count-wrapper > label {
  margin: 0 5px; }

.page {
  display: flex;
  justify-content: center; }
  @media (max-width: 1000px) {
    .page {
      flex-direction: column;
      align-items: center; } }

.panel {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%; }
  @media (max-width: 1000px) {
    .panel {
      max-width: 100%; } }

.section {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  position: relative; }
  .section:before {
    bottom: 100%;
    font-size: 2rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%); }
  .section.section__villain, .section.section__environment {
    margin-top: 30px; }
  .section.section__villain:before {
    content: "vs."; }
  .section.section__environment:before {
    content: "at"; }
  .section > img {
    align-self: center;
    margin: 10px;
    max-width: 100%; }

.attributions {
  display: none;
  padding-right: 30px;
  position: relative; }

.info-target {
  cursor: pointer; }

.info-close {
  bottom: 15px;
  cursor: pointer;
  position: fixed;
  right: 20px; }

.info {
  bottom: 10px;
  position: fixed;
  right: 10px; }
  .info.info__expanded {
    background: white;
    border: 3px solid #333;
    padding: 5px; }
    .info.info__expanded .info-target {
      display: none; }
    .info.info__expanded .attributions {
      display: block; }

.no-image {
  align-items: center;
  align-self: center;
  background-color: #ccc;
  border: 3px solid #333;
  color: #333;
  display: flex;
  font-size: 2rem;
  height: 100px;
  justify-content: center;
  margin: 10px 0;
  max-width: 600px;
  text-align: center;
  width: 100%; }

.not-enough-content {
  padding: 10px;
  text-align: center; }

.hero-panel {
  position: relative;
  width: 600px;
  max-width: 100%; }
  .hero-panel .hero-panel--image {
    align-self: center;
    max-width: 100%; }
  .hero-panel .hero-panel--variant {
    position: absolute;
    bottom: 0;
    left: 0; }

.config-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 3px solid #ccc;
  background-color: #333; }
  .config-panel .config-panel--header {
    text-align: center;
    height: 30px;
    cursor: pointer; }
  .config-panel .config-panel--body {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    padding: 0 10px; }
  .config-panel .config-panel--shroud {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0005;
    z-index: -100;
    display: none; }
  .config-panel .config-panel--toggle-line {
    cursor: pointer;
    margin: 5px;
    border: 1px solid transparent;
    padding: 5px; }
    .config-panel .config-panel--toggle-line:hover {
      border-color: #ccc; }
    .config-panel .config-panel--toggle-line input {
      display: none; }
    .config-panel .config-panel--toggle-line span {
      position: relative; }
    .config-panel .config-panel--toggle-line input:not(:checked) + span {
      color: #999; }
      .config-panel .config-panel--toggle-line input:not(:checked) + span:before {
        content: "";
        width: 100%;
        position: absolute;
        right: 0;
        top: 50%;
        border-bottom: 2px solid #ccc; }
  .config-panel.config-panel__expanded .config-panel--body {
    padding: 10px;
    max-height: 400px; }
  .config-panel.config-panel__expanded .config-panel--shroud {
    display: block; }

/*# sourceMappingURL=style.css.map */
