$layout-breakpoint: 1000px;

@font-face {
	font-family: "komika";
	src: url("../resources/KMKDSPK_.ttf");
}

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
}

body, button, input {
	font-size: 1.2em;
	font-family: komika;
	text-shadow:
		 2px  2px white,
		 2px -2px white,
		-2px  2px white,
		-2px -2px white,
	;
}

.background {
	background-image: url("../images/background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

button {
	padding-left: 10px;
	padding-right: 10px;
}

.controls {
	display: flex;
	justify-content: space-between;
	margin: 10px auto;
	max-width: 500px;
}

.hero-count-wrapper > label {
	margin: 0 5px;
}

.page {
	display: flex;
	justify-content: center;

	 @media (max-width: $layout-breakpoint) {
	 	flex-direction: column;
	 }
}

.panel {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.section {
	display: inline-flex;
	flex-direction: column;
	margin: 10px;
	position: relative;

	&:before {
		bottom: 100%;
		font-size: 2rem;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
	}

	&.section__villain,
	&.section__environment {
		margin-top: 30px;
	}

	&.section__villain {
		&:before {
			content: "vs.";
		}
	}

	&.section__environment {
		&:before {
			content: "at";
		}
	}

	> img {
		align-self: center;
		margin: 10px;
		max-width: 100%;
	}

}

.attributions {
	display: none;
	padding-right: 30px;
	position: relative;
}

.info-target {
	cursor: pointer;
}

.info-close {
	bottom: 15px;
	cursor: pointer;
	position: fixed;
	right: 20px;
}

.info {
	bottom: 10px;
	position: fixed;
	right: 10px;

	&.info__expanded {
		background: white;
		border: 3px solid black;
		padding: 5px;

		.info-target {
			display: none;
		}

		.attributions {
			display: block;
		}
	}
}
